#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.butn {
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: block;
  font-size: 16px;
  margin: 1rem auto;
  cursor: pointer;
}

footer {
  position: absolute;
  bottom: 1rem;
  left: 47%;
}
